<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name='viewport' content="width=device-width, initial-scale=1" charset="utf-8">
    <title>park-space</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/booking.css">

    <!-- FontAwsome -->
    <script src="https://kit.fontawesome.com/6f16f248e3.js" crossorigin="anonymous"></script>    
<body>
    
    <div class="container main-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="navbar-header">
                    <a href="/"><p class="navbar-brand">🅿️park-space</p></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-right">
                       <%if(typeof session != 'undefined'){%>
                        <% if(session.authenticated) {%>
                            <a class="nav-item nav-link" href="/profile">PROFILE</a>
                            <a class="nav-item nav-link" href="/listing">ADD A LISTING</a>
                            <a class="nav-item nav-link" href="/logout">LOGOUT</a>
                        <%} else {%>
                            <a class="nav-item nav-link" href="/login">LOGIN</a>
                            <a class="nav-item nav-link" href="/register">REGISTER</a>
                        <%}%>
                       <%} else {%>
                            <a class="nav-item nav-link" href="/login">LOGIN</a>
                            <a class="nav-item nav-link" href="/register">REGISTER</a>
                        <%}%>
                    </div>
                </div>
            </div>
        </nav>   
        <% if(typeof alert != 'undefined') {%>
            <div class="alert alert-<%=alerts.type%>" role="alert"> <%=alerts.data%></div>
        <%}%>