<%- include('partials/header') -%>
    <h1>About Us</h1>
    
    <h2>Help Section:</h2>
    <h4>Go thru the README in GitHub to find out more about the app and how to use it.</h4>
    <a href="https://github.com/manushaju/Capstone-Project">Link to the code in GitHub</a>
  <%- include('partials/footer') -%>

  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->