<%- include('partials/header') -%>
  <h1>Post a ride</h1>
  <form action='/listing' method='post' class='fluid' enctype="multipart/form-data">
    <div class='row'>
      <div class='col fluid-form form-floating mb-3'>

        <legend>Pick Up Location</legend>
        <div class="form-group">
          <input type="text" name="fromaddressLine" class="form-control" id="fromaddressLine" placeholder="1234 Main St"
            required>
        </div>


        <legend>Drop Location</legend>
        <div class="form-group">
          <input type="text" name="toaddressLine" class="form-control" id="toaddressLine" placeholder="1234 Main St"
            required>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="availableFromTs">Available From</label>
            <input id="availableFromTs" class="form-control" type="datetime-local" name="availableFromTs"
              value="<%=listing.availableFromTs%>">
          </div>
          <div class="form-group col-md-6">
            <label for="availableToTs">Available Till</label>
            <input id="availableToTs" class="form-control" type="datetime-local" name="availableToTs"
              value="<%=listing.availableToTs%>">
          </div>
        </div>



        <legend>Personal Details</legend>
        <div class="form-group">
          <label for="driverName">Name</label>
          <input type="text" name="driverName" class="form-control" id="driverName" placeholder="Your Full name"
            required>
        </div>


        <legend>Vehecle details</legend>
        <div class="form-group">
          <label for="CarModel">Car Model</label>
          <input type="text" name="carModel" class="form-control" id="carModel" placeholder="For Ex Civic" required>
        </div>
        <div class="form-group">
          <label for="License">Car License</label>
          <input type="text" name="carLicense" class="form-control" id="carLicense" placeholder="For Ex XXXX 1234"
            required>
        </div>
        <div class="form-group">
          <label for="Make">Car Make</label>
          <input type="text" name="carMake" class="form-control" id="carMake" placeholder="For Ex 2022" required>
        </div>
        <div class="form-group">
          <label for="Car Color">Car Color</label>
          <input type="text" name="carColor" class="form-control" id="carColor" placeholder="For Ex Navy Blue" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="upload">Upload images*</label>
            <input type="file" name="images" class="form-control" id="upload" multiple required>
          </div>
        </div>
        <div class="form-group">
          <label for="Seat">No of Seats Available</label>
          <input type="text" name="noSeats" class="form-control" id="noSeats" required>
        </div>
        <div class="form-group">
          <label for="PriceSeat">Price Per Seat</label>
          <input type="text" name="pricePerSeat" class="form-control" id="pricePerSeat" required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="instructions">Special Instructions</label>
        <textarea type="text" name="instructions" class="form-control" id="instructions"></textarea>
      </div>
    </div>
    <button class='btn btn-lg btn-outline-dark' type="submit">Submit a Ride</button>
  </form>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3ZMh-oENriiaX4LDfzNVQONZKEarXK5Q&libraries=places&callback=setAutocomplete"></script>
  <script type="text/javascript">
    function setAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
        (
          document.getElementById("fromaddressLine")
        ),
        { types: ["geocode"] }
      );
      autocomplete.addListener("place_changed", setAddress);
    }
    function setAddress() {
      var place = autocomplete.getPlace();
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3ZMh-oENriiaX4LDfzNVQONZKEarXK5Q&libraries=places&callback=setAutocomplete2"></script>
  <script type="text/javascript">
    function setAutocomplete2() {
      autocomplete = new google.maps.places.Autocomplete(
        (
          document.getElementById("toaddressLine")
        ),
        { types: ["geocode"] }
      );
      autocomplete.addListener("place_changed", setAddress);
    }
    function setAddress() {
      var place = autocomplete.getPlace();
    }
  </script>
  <%- include('partials/footer') -%>