<%- include('partials/header') -%>
  <%if(typeof name !='undefined' ){%>
    <h2 class="alert alert-dark">Welcome <%= typeof name !='undefined' ? name : "" %>
    </h2>
    <%}%>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-5">Same Destination, More Companions! Lets hit the road together</h1>
        </div>
      </div>
      <%if(typeof session !='undefined' ){%>
        <% if(session.authenticated) {%>
          <div>
            <div>
              <a class="btn btn-primary btn-block add-listing-btn" href="/listing">Post a Ride</a>
              <br>
            </div>
          </div>
          <%} else {%>
            <div class="landing-buttons text-center">
              <form action="/login" method="get">
                <button class='btn btn-lg btn-dark col-md-3' type="submit">Login</button>
              </form>
              <form action="/register" method="get">
                <button class='btn btn-lg btn-outline-dark col-md-3' type="submit">Sign up</button>
              </form>
            </div>
            <%}%>
              <%} else {%>
                <div class="landing-buttons text-center">
                  <form action="/login" method="get">
                    <button class='btn btn-lg btn-dark col-md-3' type="submit">Login</button>
                  </form>
                  <form action="/register" method="get">
                    <button class='btn btn-lg btn-outline-dark col-md-3' type="submit">Sign Up</button>
                  </form>
                </div>
                <%}%>
                  <%- include('partials/footer') -%>