* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  a:hover {
    color: #1abc9c !important;
}
.navbar-light .navbar-brand {
  color: #a52589;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px #1fa1cd;
}
.navbar-light .navbar-nav .nav-link {
  color: darkmagenta;
  font-family: 'FontAwesome';
  font-size: 14px;
  padding: 34px;
  font-weight: 900;
}
.jumbotron-fluid {
  background-image: url(https://thumbs.dreamstime.com/b/wisley-surrey-uk-april-car-park-parking-lot-colorful-different-coloured-cars-trees-distance-wisley-surrey-uk-april-car-109250888.jpg);
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.h1, h1 {
  margin-bottom: 0.5rem;
  line-height: 2.2;
  font-size: 2.1875rem;
  text-align: center!important;
  font-weight: 600!important;
  font-size: 2.5rem;
  color: darkslateblue;
  text-transform: uppercase;
}
.lead {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.25rem;
  font-weight: 300;
  font-weight: 550!important;
  color: darkslateblue!important;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
  margin-top: 15px;
  /* margin-bottom: 15px; */
	position: absolute;
	text-align: center;
	width: 100%;
	/* height: 40px; */
	background-color: #287e9b;
}

.footer p {
	margin-top: 10px;
	font-size: 12px;
  color: #fff;
}
label {
  color: darkred;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  filter: drop-shadow(1px 1px 1px black);
  background-color: white;
}
.alert-dark {
  filter: drop-shadow(1px 1px 2px black);
  color: #1b1e21;
  background-color: #a7daa7;
  border-color: greenyellow;
  font-weight: 700;
}
.h3, h3 {
  line-height: 2.2;
  font-size: 2.1875rem;
  text-align: center!important;
  font-weight: 700!important;
  font-size: 2.5rem;
  color: darkslateblue;
  text-transform: uppercase;
  font-size: 1.75rem;
}


.footer > p > a {
  color: black;
  margin-left:10px;
  margin-right: 10px;
  font-size: 2rem;
}

.footer > p > a:hover{
  color: grey;
}

.input-field {
  background-color: #FFFFFF;
  width: 30%;
  padding: 5px 0 5px 5px;
  margin: 20px;
  border: 1px solid gray;
}

.input-field::-webkit-input-placeholder {
  color: #CCCCCC;
  position: relative;
  padding-left: 0;
  -webkit-transition: padding 0.5s;
  transition: 0.5s;
}

.input-field:hover::-webkit-input-placeholder,
.input-field:focus::-webkit-input-placeholder {
  font-size: small;
  transform: translateY(-8px);
}

#map {
  height: 70vh;
  width: 100%;
  background-color: #0099C3;
}

input[type=submit] {
  text-align: center;
}

.listing-images {
  height: 100px;
  width: 100px;
}
.landing-buttons form {
  display: inline
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  background-color: #131366;
  border-color: #cd6921;
  font-family: cursive;
  font-weight: 500;
  color: white;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px black);
  margin: 21px;
}

.search_form{
  display: grid;
  grid-template-columns: 80% 20%;

}

.search-container {
  display: grid;
  grid-template-columns: 45% 5% 50%;
}
.search_form button {
  margin:1em;
  border:none;
  

}

.search_form input::placeholder {
  font-weight: bold;
  opacity: .5;
  text-align: center;
}
.search_form input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
}

.search-btn {
  border-radius: 100%;
}

.add-listing-btn {
  border-color: black;
  background: #0b6262;
  margin-top: 10px;
  padding: 10px;
  font-size: 120%;
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px black);
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.list-items {
  border-radius: 20px;
  border: 5px solid green;
  margin  : 10px;
  padding: 10px 10px 0 10px;
  transition: 1s;
}

.list-items:hover {
  background-color: rgb(173, 243, 173);
}

.book-listing {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #0099C3;
  transition: 1s;
}

.book-listing:hover {
  color: #0099C3;
  background-color: white;
}

.listing-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.all-listings {
  overflow-y: auto;
  max-height: 50vh;
}